//font

$default-font-size: 1.6rem;

//colors
$color-primary: #324f52;
$color-primary-light: #304941;
$color-primary-dark: #041214;
$color-text-icons: #ffffff;
$color-accent: #009688;
$color-primary-text: #212121;
$color-divider: #eee;
$color-secondary-text: #757575;
$color-backgroud-gray: #f7f7f7f7;
$color-for-shadow: #000000;
$color-white:#ffffff;

$color-black-backgroud-dark: #2e2f32;
$color-black-backgroud-light: #232325;




$color-font: #3c6478;

$color-secundary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #4368fa;



//grid

$grid-width: 114rem;

$grid-height: 44rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;


$gutter-horistontal: 6rem;
