.header {
  height: 95vh;

  //background-image: linear-gradient(
  //                to right bottom,
  //                rgba($color-black-backgroud-light, 0.9),
  //                rgba($color-black-backgroud-light, 0.9)),
  //
  //url(../img/webdesign-header.jpg);

  background-size: cover;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;






  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 8rem;

  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}





