.feature-box {
  background-color: rgba($color-text-icons, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba($color-for-shadow, 0.3);
  transition: transform 0.3s;

  @include respond(tab-port){
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to left,
      $color-primary-dark,
      $color-primary-light
    );
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;

    @include respond(tab-port){
      margin: 0;
    }
  }
  &:hover {
    transform: translateY(-1rem) scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba($color-for-shadow, 0.4);
  }
  &:active {
    background-color: rgba($color-primary-light, 0.8);
  }
  &__text {
      
  }
}
