.popup {

  &--default {

    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-for-shadow, 0.8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;

    &__close {
      &:link,
      &:visited {
        color: $color-primary;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all .4s;
        line-height: 1;

      }
    }
    &:target {
      opacity: 1;
      visibility: visible;
      transition: all .10s;

    }

    &__content {
      @include absCenter;
      border-radius: 3px;

      width: 88%;

      height: 80%;
      box-shadow: 0 2rem 4rem rgba($color-for-shadow, 0.2);

      background-image: url("../img/bcground.png");

      overflow: hidden;
      overflow-y: scroll;
      padding: 4rem;
    }

    //&__left {
    //
    //  width: 100%;
    //
    //  //display: table-cell;
    //}
    //
    //&__right {
    //  //width: 50%;
    //
    //  padding: 3rem 5rem;
    //
    //  display: table-cell;
    //  vertical-align: middle;
    //}

    &__img {
      width: 40%;
      height: 40%;
      border-bottom-right-radius: 50%;
      background-size: cover;

      box-shadow: 0 1rem 2rem rgba($color-for-shadow, .4);

    }

    &__text {
      color: $color-white;
      text-align: center;

      font-size: 1.4rem;
      margin-bottom: 4rem;

      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid $color-backgroud-gray;
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid $color-backgroud-gray;

      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;

      hyphens: auto;
      padding-top: 2rem;


    }

  }


  &__languages{
    display: block;
    text-align: center;

    &-img{
      height: 8rem;
      background-size: contain;
    }

  }






}
