.section-about {
  background-color: $color-backgroud-gray;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)
  ),
  url(../img/wb1.png);

  background-size: cover;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-skills {
  background-color: $color-backgroud-gray;
  padding: 25rem 0 20rem 0;
  margin-top: -10rem;

}

.section-stories {
  position: relative;

  padding: 15rem 0;

}

.section-booking {

  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)
  );
  padding: 15rem 0;

}

.book {
  background-image: linear-gradient(
                  to right bottom,
                  $color-primary-light,
                  $color-primary-dark
  ),
  url(../img/panda.jpg);
  background-size: cover;

  height: 48rem;
  box-shadow: 0 1.5rem 4rem rgba($color-for-shadow, .2);
  background-blend-mode: screen;

  border-radius: 3px;
  transition: all 0.2s;

  &__form {
    width: 50%;

    padding: 5rem;

  }

  &:hover {

    transform: scale(1.02) translate(-0.2rem);

    box-shadow: 0 1.5rem 4rem rgba($color-for-shadow, .3);
    z-index: 17;

  }

  &__coverclip {
    height: 100%;

    background-image: linear-gradient(105deg, rgba($color-text-icons, .6) 0%, rgba($color-text-icons, .6) 50%, transparent 50%);

    z-index: 5;

    background-size: cover;

  }

}

 
